global
    maxconn 4096

defaults
    mode http
    timeout connect 5s
    timeout client  60s
    timeout server  60s

frontend ws_frontend
    bind *:8080

    default_backend ws_backend

backend ws_backend
    balance roundrobin

    option httpchk GET /health

    cookie SERVERID insert indirect nocache

    server ws1 ws1:3000 check cookie s1
    server ws2 ws2:3000 check cookie s2
